<!DOCTYPE html>
<html ng-app="">

<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/foundation.min.css"/>
    <title></title>
</head>

<body style="padding:10px;">
    <form name="f">
        <input type="text" ng-model="name" placeholder="用户名" required/>
        <input type="text" ng-model="pwd" placeholder="密码" required/>
        <!--required如果没填写，提交按钮是不能点击的-->
        <button type="submit" ng-disabled="f.$invalid">提交</button>
    </form>
</body>

<script src="js/angular.min.js"></script>
<script>
    /**
     * https://docs.angularjs.org/api/ng/input/input%5Bcheckbox%5D
     * <form>标签处于ng-app内部，所以它已经被Angular封装过，是一个Angular指令。
     * Angular提供了一个ng-pristine指令，把这个指令写在form标签中，Angular就知道你想使用原生的form标签了。
     */
</script>

</html>